body{margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font: size 40px; ;
}
.orenge-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-widht{
    width: 50%;
    padding-left: 5%;
    
}
.half-widht{
    width:80%;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    background-image:linear-gradient(orange,tomato);
    font-weight: 700;
}
.top-banner{
   background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
       
   
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 100%;
    box-shadow:10px 10px 40px rgb(105, 104, 104);
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
    border-radius: 10px;

}
#FULL-STACK-DEVELOPER{
    border-left: 7px solid tomato;
}
#BABY-WEB-DEVELOPER{

    border-left: 7px solid blue
}
footer p{
    text-align: center;
}